{% extends "Peliculas/index.html" %}
{% load static %}


{% block content %}
  <h2>Listado de Películas</h2>
  
  {% if peliculas %}
    <ul>
      {% for pelicula in peliculas %}
        <li>
          <a href="{% url 'pelicula_detalle' pelicula.pk %}">{{ pelicula.titulo }}</a>
          - {{ pelicula.director }} - {{ pelicula.genero }}
          (<a href="{% url 'pelicula_actualizar' pelicula.pk %}">Editar</a> |
          <a href="{% url 'pelicula_borrar' pelicula.pk %}">Eliminar</a>)
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay películas disponibles.</p>
  {% endif %}
  
  <p><a href="{% url 'pelicula_crear' %}">Añadir nueva película</a></p>
{% endblock %}
